<div class="jumbotron">
    <h1 class="title">逆袭职路</h1>
    <p class="slogan">
    ——你错过就就可能会后悔一辈子的招聘网站
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger btn-start" href="/jobs">现在开启</a></p>
</div>

<div class="container description">
  <div class="item">
    <div class="col-md-6">
      <div class="text-center pic-box">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="title">天下武功，唯快不破</h3>
      <p class="detail">全新升级的多态采用更多的线路和更强大的硬件部署，速度比之前提升 15% 以上，再次刷新「最快记录」。数个月内通过不同地区节点向各种类似服务不间断链接测速得出结果，多态在平均速度和稳定性上均高于其他收费产品。</p>
    </div>
  </div>
  <div class="item">
    <div class="col-md-6">
      <h3 class="title">完美的存在，是感觉不到存在</h3>
      <p class="detail">多态在使用时会自动识别目标网站的服务器所在地，自动优选最佳线路，同时国内网站不受任何影响。多态让你工作倍加便捷的同时，完全感受不到它的存在，为你的工作节省时间，提高生产效率。</p>
    </div>
    <div class="col-md-6">
      <div class="text-center pic-box">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
      </div>
    </div>
  </div>
  <div class="item">
    <div class="col-md-6">
      <div class="text-center pic-box">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <h3 class="title">天下武功，唯快不破</h3>
      <p class="detail">全新升级的多态采用更多的线路和更强大的硬件部署，速度比之前提升 15% 以上，再次刷新「最快记录」。数个月内通过不同地区节点向各种类似服务不间断链接测速得出结果，多态在平均速度和稳定性上均高于其他收费产品。</p>
    </div>
  </div>
  <div class="manuals">
    <h2 class="section-title text-center">支持设备</h2>
    <div class="manual-list">
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
    </div>
    <div class="manual-list">
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
      <div class="manual-item">
        <img src="https://www.duotai.org/static/images/landing-feature1.png" alt="">
        <p class="name">name</p>
      </div>
    </div>
  </div>
  <div class="thanks text-center">
    <h2 class="title text-center">合作伙伴</h2>
    <div class="thanks-wrapper text-center">
        <img src="https://www.duotai.org/static/images/thanks-fir.png" alt="fir">
        <img src="https://www.duotai.org/static/images/thanks-auralic.png" alt="auralic">
        <img src="https://www.duotai.org/static/images/thanks-leeco.png" alt="leeco">
        <img src="https://www.duotai.org/static/images/thanks-feiduo.png" alt="feiduo">
        <img src="https://www.duotai.org/static/images/thanks-mrmac.png" alt="mrmac">
  </div>
  </div>
</div>
