<footer class="footer">
  <div class="wrapper">
      <div class="inner_wrapper">
          <a href="#" target="_blank" rel="nofollow">微博</a>
          <a href="#" target="_blank" rel="nofollow">版本更新</a>
          <a href="#" target="_blank" rel="nofollow">帮助中心</a>
          <a href="#" target="_blank" rel="nofollow">联系我们</a>
          <a href="#" target="_blank" rel="nofollow">招聘解决方案</a>
          <span class="tel">服务热线：<em>1352159xxxx</em></span>
      </div>
      <div class="copyright ">
          <span><em>©</em>2017 逆袭职路 </span>
          <span>Design by guixin</span>
      </div>
  </div>
</footer>
